
.body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: block;
    margin-top: 5em;
    /*padding-left: 90px;*/
    width: 414px
}

.title {
    margin: 0 0 32px;
    text-align: center;
}


.inputForm {
    margin-bottom: 32px;
    width: 100%;
}

.inputTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #111214;
}

.inputDiv {
    position: relative;
}

.input {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #a7acb5;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #111214;
    padding: 0 10px;
    transition: all .2s linear;
    outline: none;
}

.input:focus {
    border: 1px solid #1f63de;
}


.passwordHref {
    width: 100%;
    text-align: right;
}

.forgotPass {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #4980f2;
    transition: all .2s linear;
}


.button {
    padding: 0;
    outline: none;
    /*border: none;*/
    height: 40px;
    width: 108%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #4980f2;
    color: #4980f2;
    transition: all .2s linear;
    margin-bottom: 20px;
}

.button:hover {
    color: #fff;
    background-color: #4980f2;
}

.button:active {
    border-color: #00449a;
}

.button:disabled {
    background-color: #a4aab5;
    color: #fff;
    border: none;
}

.titleOtherEnters {
    margin-left: 5px;
    text-align: center;
}

.otherEnters {
    display: inline-flex;
    margin-bottom: 60px;
    transform: translate(25%, 40%);
}

.icons {
    width: 74px;
    height: 40px;
    margin-left: 20px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 8px;
}

.googleIcon {
    width: 20px;
    height: 20px;
    margin: 9px 25px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 64px;
    width: 100%;
    border-top: 2px solid #dbdbdb;
    font-size: 14px;
    color: #a4aab5;
}

.span {
 margin-right: 10%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navFooter {
    margin-right: 15px;
}